:root {
  --bg-color: #f4f4f4;
  --grey-color: #b4b2af;
  --grey-color-1: #b4b2afe1;
  --grey-color-2: #b4b2afca;

  --text-color: #2e3433;
  --accent-color:#daae7c;
  --contrast-color: #161410;
  --grey-color: #b4b2af;
  --dark-grey-color: #858585;
  --red-color: #e41700;
  --light-grey-color: #eee;
  --green: #057521;
  --blue: #00076f;
  --dark-blue: #07237d;
  --light-blue:  #6b707e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
